.Landing{
    position: relative;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        padding: 0;
        margin: 0;
    }
}

.Title{
    font-size: 7rem;
    font-weight: bolder;
    padding: .5rem 0px;
    z-index: 99999;
    transform: translateX(-500px);
    opacity: 0;
    animation: from-left .7s forwards ;
}

.Subtitle{
    font-size: 2.5rem;
    z-index: 99999;
    transform: translateX(-700px);
    opacity: 0;
    animation: from-left .3s forwards .4s;
}

@keyframes from-left{
    0%{

    }
    80%{
        opacity: 1;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.Contacto{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img{
        // position: absolute;
        // z-index: -1;
        width: 340px;
        bottom: 0;
        right: 0;
        margin: 60px;
        // transform: rotate(-10deg);
    }

    .Overlay{
        width: 100%;
        height: 100vh;
        color: gray;
        position: absolute;
        z-index: -1;
        
        &.Active {
            z-index: 1;

        }
    }

    .Button{
        width: 238px;
        height: 64px;
        border-radius: 20px;
        border: none;
        background-color: #37ef9f;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1rem;
        box-sizing: border-box;
        box-shadow: 0px 3px 6px #00000085;
        transition: .3s all;
        
        &:focus{
            outline: none;
        }
        
        &:hover{
            box-shadow: 0px 3px 10px #00000085;
            background-color: darken(#37ef9f, 10);
        }
        &:active{
            box-shadow: 0px 3px 3px #00000085;
            background-color: darken(#37ef9f, 20);
        }
    }

    .Background{
        width: 134%;
        background-color: #E01A94;
        height: 100vh;
        transform: skew(48deg) translateX(-370px) ;
        position: absolute;
        z-index: -1;

        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;

        transition: .5s all;

        .Column{
            
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            &:nth-child(1){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;
                    
                    &:nth-child(1){
                        background-color: #e453ac;
                    }
                    &:nth-child(2){
                        background-color: #af096f;
                    }
                    &:nth-child(3){
                        background-color: #c12b87;
                    }
                    &:nth-child(4){
                        background-color: #e453ac;
                    }
                    &:nth-child(5){
                        background-color: #E01A94;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #E01A94;
                    }
                    &:nth-child(8){
                        background-color: #af096f;
                    }
                }
            }
            &:nth-child(2){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;
                    
                    &:nth-child(1){
                        background-color: #e453ac;
                    }
                    &:nth-child(2){
                        background-color: #af096f;
                    }
                    &:nth-child(3){
                        background-color: #E01A94;
                    }
                    &:nth-child(4){
                        background-color: #E01A94;
                    }
                    &:nth-child(5){
                        background-color: #c12b87;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #e453ac;
                    }
                    &:nth-child(8){
                        background-color: #af096f;
                    }
                }
            }
            &:nth-child(3){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;
                    
                    
                    &:nth-child(1){
                        background-color: #E01A94;
                    }
                    &:nth-child(2){
                        background-color: #E01A94;
                    }
                    &:nth-child(3){
                        background-color: #E01A94;
                    }
                    &:nth-child(4){
                        background-color: #E01A94;
                    }
                    &:nth-child(5){
                        background-color: #E01A94;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #E01A94;
                    }
                    &:nth-child(8){
                        background-color: #e453ac;
                    }
                }
            }
            &:nth-child(4){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;

                    
                    &:nth-child(1){
                        background-color: #E01A94;
                    }
                    &:nth-child(2){
                        background-color: #E01A94;
                    }
                    &:nth-child(3){
                        background-color: #c12b87;
                    }
                    &:nth-child(4){
                        background-color: #E01A94;
                    }
                    &:nth-child(5){
                        background-color: #E01A94;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #c12b87;
                    }
                    &:nth-child(8){
                        background-color: #E01A94;
                    }
                }
            }
            &:nth-child(5){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;

                    
                    &:nth-child(1){
                        background-color: #E01A94;
                    }
                    &:nth-child(2){
                        background-color: #E01A94;
                    }
                    &:nth-child(3){
                        background-color: #c12b87;
                    }
                    &:nth-child(4){
                        background-color: #E01A94;
                    }
                    &:nth-child(5){
                        background-color: #E01A94;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #E01A94;
                    }
                    &:nth-child(8){
                        background-color: #af096f;
                    }
                }
            }
        }
    }

    .LeftColumn{
        color: white;
        text-align: center;
        width: 50%;
        // display: inline-block;
        vertical-align: middle;
        display: flex;
        vertical-align: middle;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: .5s all 1s;
    }
}

// .Blur{
//     filter: blur(6px)
// }

