.Phone{
    box-sizing: border-box;
    width: 350px;
    height: 650px;
    border-radius: 40px;
    padding: 20px;
    background-color: #000;

    transform: translateZ(-150px) rotateX(45deg) rotateZ(45deg) translateY(-40%);;
    perspective: 1500px;
    transform-style: preserve-3d;
    transition: .5s all;

    .Screen{
        background-color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .Camera{
        width:150px;
        height: 30px;
        border-radius: 0px 0px 25px 25px;
        background-color: #000;
        position: absolute;
        z-index: 199;
    }

    .Bottom{
        width: 304px;
        height: 50px;
        /* padding: 0px; */
        background: black;
        // transform: rotateX(-90deg) translateY(4px) translateX(16px);
        transform: rotateX(-78deg) translateY(13px) translateX(2px) translateZ(-7px);;
        perspective: 1500px;
        border-radius: 0px 0px 0px 20px;
        
    }

    .Border{
        width: 50px;
        height: 583px;
        /* padding: 0px; */
        background: black;
        perspective: 1500px;
        position: absolute;
        top: 0;
        left: 100%;
        // transform: rotateY(90deg) translateX(-25px) translateZ(0px) translateY(66px);
        border-radius: 0px 20px 0px 0px;

        transform: rotateY(84deg) translateX(8px) translateZ(-25px) translateY(27px)
    }

    .Back{
        box-sizing: border-box;
        width: 340px;
        height: 607px;
        border-radius: 20px;
        padding: 20px;
        background-color: #000;
        perspective: 1500px;
        transform-style: preserve-3d;
        // transform: translate(0px, -635px) translateZ(-25px) rotateX(-2deg) rotateY(1deg);
        transform: translate(-15px, -635px) translateZ(-34px) rotateX(-3deg) rotateY(1deg);
        -moz-transform: translate(-15px, -635px) translateZ(-34px) rotateX(-3deg) rotateY(1deg);
    }

    &.First{
        transform: translateY(0px) translateZ(0px) rotateX(0deg) rotateZ(0deg) translateX(150px);
        -moz-transform: translateY(0px) translateZ(0px) rotateX(0deg) rotateZ(0deg) translateX(150px);


        // .Bottom{
        //     transform: rotateX(-90deg) translateY(66px) translateX(-1px);
        // }

        // .Border{
        //     transform: rotateY(92deg) translateX(200px) translateZ(0px) translateY(64px)
        // }

        // .Back{
        //     transform: translate(0px, -650px) translateZ(-106px) rotateX(-2deg) rotateY(1deg);
        // }

        .ScreenView{
           
        
            // transform: rotateZ(180deg) scale(1.5);
            
        }
    }
}

.ScreenView{
    position: absolute;
    // overflow: hidden;
    // width: 1200px;
    // height: 1200px;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 1s all;
    -moz-transition: 1s all;
    // background-color: black;

    // transform: scale(1.5);

    
}

.View{
    width: 100%;
    height: 100%;
    // background-color: white;

    width: 100%;
    height: 100%;
    z-index: 101;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px
}

.Form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 70%;
    margin-bottom: 20%;
    box-sizing: border-box;

    img{
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 0px;
        left: 0;
        margin: auto;
        opacity: .5;
        
        // transform: rotate(-10deg);
    }

    &.Opt{
        height: 100%;
        margin-bottom: 0;
        img{
            display: none;
        }

        .Button{
            background-color: #E01A94;
            color: white;
        }

    }
}

.Button{
    width:100%;
    border-radius: 10px;
    background: #36EFA0;
    border: none;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    transition: .3s all;
    
    &:focus{
        outline: none;
    }
    
    &:hover{
        box-shadow: 0px 3px 10px rgba(0,0,0,.5);;
        background-color: darken(#36EFA0, 8);
    }
    &:active{
        box-shadow: 0px 3px 3px rgba(0,0,0,.5);;
        background-color: darken(#36EFA0, 16);
    }
}

.Slow{
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    -moz-animation: slow 1s .5s forwards ;
    animation: slow 1s .5s forwards ;
}

.hide{
    opacity: 1;
    animation: hide 1s .5s forwards ;
    -moz-animation: hide 1s .5s forwards ;
}

@keyframes slow{
    0%{
        
    }
    100%{
        opacity: 1;
    }
}

@keyframes hide{
    0%{
        
    }
    100%{
        opacity: 0;
    }
}


.Logo{

    img{
        width:90px;
        opacity: 0.8;
    }

    .Brillo_1{
        width: 137%;
        height: 66px;
        background-color: white;
        position: absolute;
        top: 122px;
        left: -43px;
        transform: rotate(20deg) skew(27deg, 18deg);
        opacity: .1;
    }
    .Brillo_2{
        width: 137%;
        height: 120px;
        background-color: white;
        position: absolute;
        top: 180px;
        left: -70px;
        transform: rotate(20deg) skew(27deg, 18deg);
        opacity: .1;
        
    }
    .Brillo_3{
        width: 137%;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 310px;
        left: -70px;
        transform: rotate(20deg) skew(27deg, 18deg);
        opacity: .1;
        
    }
}

.CenterImage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 40%;
    img{
        width: 60%;
        position: relative;
        opacity: 1;
    }
}

