.Triangle{
    background-color: #E01A94;
    position: absolute;
    width: 220px;
    height: 180px;
    transform: rotate(0deg);
    right: 120px;
    bottom:0px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%); 

    animation: triangle-move 8s infinite alternate;
    -moz-animation: triangle-move 8s infinite alternate;
}

@keyframes triangle-move{
    0%{

    }

    100%{
        right: 10px;
        bottom:300px;    

        transform: rotate(-45deg);
    }
}