.Input{

    width: 100%;
    box-sizing: border-box;
    
    label{
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    
    .InputComponent{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #E01A94;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        &:focus{
            outline: none;
        }

        &.Error{
            background-color: #ffcbcb;
        }
    }
}