.Footer{
    background-color: darken($color: #E01A94, $amount: 10);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}