.Circle{
    background-color: #36EFA0;
    width: 186px;
    height: 186px;
    position: absolute;
    border-radius: 50%;
    left:-30px;
    animation: circle-move 16s infinite alternate cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: circle-move 16s infinite alternate cubic-bezier(0.6, -0.28, 0.735, 0.045);
    box-shadow: 4px 6px 9px #00000069;
}

@keyframes circle-move{
    0%{

    }

    // 40%{
    //     left:260px;
    //     transform: translateY(350px);

    // }

    // 60%{
    //     left:360px;
    //     transform: translateY(450px);
  
    // }

    100%{
        left:460px;
        transform: translateY(550px);
 
    }
}