.Rectangle{
    background-color: #E01A94;
    position: absolute;
    width: 806px;
    height: 347px;
    transform: rotate(45deg);
    bottom: -300px;
    left:-320px;
    animation: rectangle-move 9s infinite alternate;
    -moz-animation: rectangle-move 9s infinite alternate;
}

@keyframes rectangle-move{
    0%{

    }

    100%{
        transform: rotate(-75deg);
        bottom: -150px;
        left:-250px;
    }
}