.Mantencion{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;

    .Main{
        width: 50%;
    }

    h1{
        // color: #E01A94;
        text-transform: uppercase;
    }

    .Logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 5%;
        }

        p{
            font-weight: bold;
            padding-top: 5px;
        }
    }


    .Back{
        background-color: #E01A94;
        width: 100%;
        height: 200vh;
        position: absolute;
        z-index: -1;
        transform: skew(44deg, 10deg);
        left: -70%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        
        .Column{
            
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            &:nth-child(1){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;
                    
                    &:nth-child(1){
                        background-color: #e453ac;
                    }
                    &:nth-child(2){
                        background-color: #af096f;
                    }
                    &:nth-child(3){
                        background-color: #c12b87;
                    }
                    &:nth-child(4){
                        background-color: #e453ac;
                    }
                    &:nth-child(5){
                        background-color: #E01A94;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #E01A94;
                    }
                    &:nth-child(8){
                        background-color: #af096f;
                    }
                }
            }
            &:nth-child(2){

                span{
                    display: inline-block;
                    width:200px;
                    height:200px;
                    
                    &:nth-child(1){
                        background-color: #e453ac;
                    }
                    &:nth-child(2){
                        background-color: #af096f;
                    }
                    &:nth-child(3){
                        background-color: #E01A94;
                    }
                    &:nth-child(4){
                        background-color: #E01A94;
                    }
                    &:nth-child(5){
                        background-color: #c12b87;
                    }
                    &:nth-child(6){
                        background-color: #E01A94;
                    }
                    &:nth-child(7){
                        background-color: #e453ac;
                    }
                    &:nth-child(8){
                        background-color: #af096f;
                    }
                }
            }
        }

    }
}