.Triangle{
    background-color: #E01A94;
    position: absolute;
    width: 400px;
    height: 300px;
    transform: rotate(45deg);
    right: 120px;
    top:0px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%); 

    animation: triangle-move 16s infinite alternate;
    -moz-animation: triangle-move 16s infinite alternate;
}

@keyframes triangle-move{
    0%{

    }

    100%{
        right: 10px;
        top:300px;    

        transform: rotate(-45deg);
    }
}