.Nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // height: 30px;
    position: absolute;
    top: 0;
    z-index: 99999;

    background-color: #252525;
    img{
        width: 60px;
        padding: 10px;
    }

    ul{
        width: 200px;
        list-style: none;
        display: flex;
        justify-content: space-around;

        li{
            margin-top:44px;
            margin-bottom:44px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}