.Triangle{
    background-color: #E01A94;
    position: absolute;
    width: 120px;
    height: 150px;
    transform: rotate(75deg);
    right: 50px;
    top:800px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%); 

    animation: triangle-move 24s infinite alternate;
    -moz-animation: triangle-move 24s infinite alternate;
}

@keyframes triangle-move{
    0%{

    }

    100%{
        right: 10px;
        top:300px;    

        transform: rotate(-45deg);
    }
}