.CircleScreen{
    border-radius: 50%;

    transition: .5s all .5s;
    position: absolute;
    // top: 20%;
    height: 1200px;
    width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    animation-delay: 2s;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60px);

    &.Visible{
        height: 1200px;
        width: 1200px;
        border-radius: 0;
        
        // transition: 1s all;
        z-index: 100;
        animation: circle 2s;
        -moz-animation: circle 2s;


    }
}

@keyframes circle{
    0%{
        height: 0%;
        width: 0%;
    }
    90%{
        height: 1200px;
        width: 1200px;
    }
    100%{

    }
}